.root {
  &[data-variant="body1"] {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 26px !important;
  }

  &[data-variant="body2"] {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 22px !important;
  }

  &[data-variant="body3"] {
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
  }

  &[data-variant="body4"] {
    font-size: 10px !important;
    font-weight: 600 !important;
    line-height: 18px !important;
  }

  &[data-variant="caption1"] {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
  }

  &[data-variant="caption2"] {
    font-size: 10px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
  }
}
